.background-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.tripPreview {
    background-color: rgb(241, 245, 248, .5);
}

.savedTrips {
    background-color: rgb(241, 245, 248, .5);
}