.logo-image {
    flex: 1;
  }
  
  .logo {
    height: 100px;
    margin-right: 50px;
  }
  
  footer, header {
    background-color: #e2edf0;
  }

  /* body {
	background: #eaedf1;
	font-family: 'Lato', sans-serif;
  margin-top:0;
} */
  footer {
    padding: 10px 0 10px 20px;
    color: #B9B9B9;
  }


/* .footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20em;
    height: 20em;
} */